
# Server
PORT
NODE_ENV

# Database
DATABASE_URL

# JWT
JWT_SECRET
JWT_EXPIRES_IN

# CORS
CLIENT_URL

# AWS
AWS_REGION
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY

# S3
S3_BUCKET

# SES (Simple Email Service)
SES_FROM_EMAIL